<% layout("layouts/boilerplate") -%>
<br>
<h2>Update Your Listing</h2>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> <br>
                <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                <div class="valid-feedback">Title looks good...</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> <br>
                <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL:</label><br>
                <input type="text" name="listing[image][url]" value="<%= listing.image ? listing.image.url : '' %>" class="form-control">
                <div class="form-text">Paste the direct link to the image.</div>
            </div>            
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> <br>
                <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price:</label><br>
                    <input name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid price.</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country:</label><br>
                    <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid country name.</div>
                </div>
            </div>
            <br>
            <div class="flex text-center">
                <button class="btn btn-dark px-md-5">Update Listing</button>
            </div>
            <br><br>
        </form>            
    </div>
</div>
